body {
  background-color: #ececef;
  font: 1em sans-serif;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
}

a.login {
  margin-left: 1%;
  height: 1em;
  font-size: 2em;
}

h1 {
  display: inline-block;
  height: 1em;
}

.login--failed {
  margin: 0 0;
  color: red;
}

#root {
  margin: 0 auto;
  max-width: 90%;
  font-size: 1.5em;
}

@media only screen and (max-width: 650px) {
  #root {
    max-width: 100%;
    margin: 2% 2%;
    overflow-x: auto;
    font-size: 1em;
  }
  a {
    display: block;
  }
  a.login {
    margin-left: 0%;
  }
  h1 {
    display: block;
  }
}
