.student-results {
  margin: 0 auto;
}

.student-results__table {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #dadada;
}

td {
  text-align: center;
  max-width: 300px;
  border: 1px solid #ababab;
  box-sizing: border-box;
  overflow: hidden;
}

th, td:first-child {
  color: #d5dde5;
  background: #516fa9;
  border: 2px solid #9ea7af;
  font-size: 1em;
  font-weight: 100;
  padding: 1% 1%;
  text-shadow: 0 1px 1px #0000001a;
  text-align: center;
  vertical-align: middle;
}

th>a, td:first-child>a {
  color: azure;
  overflow: hidden;
}

td:first-child {
  text-align: left;
}

td.green {
  background-color: #36ac36;
}

td.red {
  background-color: #ff3e3e;
}

td.gray {
  background-color: #9d9d9d;
}

td.pink {
  background-color: pink;
}

td.yellow {
  background-color: #fabf53;
}

a.student-results__score {
  width: 100%;
  display: inline-block;
  color: #474747;
  display: none;
}
